~# Webasto LoRa Remote Control - Device Port Aliases
# Installation: 
#   sudo cp 99-webasto-devices.rules /etc/udev/rules.d/
#   sudo udevadm control --reload-rules && sudo udevadm trigger

# ESP32 W-BUS Simulator (CP2102 USB-to-UART converter)
# idVendor=10c4, idProduct=ea60, SerialNumber=0001
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="0001", SYMLINK+="ttyWEBASTOSIM", MODE="0666", GROUP="uucp"

# Add rules for sender and receiver here when you identify them:
# Example format for CH340/CP2102 USB-Serial adapters:
# SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", ATTRS{serial}=="XXXX", SYMLINK+="ttyWEBASTOSEND", MODE="0666", GROUP="uucp"
# SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", ATTRS{serial}=="YYYY", SYMLINK+="ttyWEBASTORECV", MODE="0666", GROUP="uucp"
